# Folders
data/
*.csv


# Python cache
__pycache__/
*.py[cod]

# Environments
.venv/
*.env

# Build and package metadata
*.egg-info/
dist/
build/

# Tool caches
.mypy_cache/
.pytest_cache/
.ruff_cache/